html {
    overflow: hidden;
}
#block-bootstrap-barrio-biopama-content > div > div > div > div.col-lg-8.klc-container.m-0{
    background: #dee7ea;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    overflow-y: scroll;
}
.form-control-lg {
    padding: .3rem 0.3rem!important;
    font-size: 0.9rem!important;
    line-height: 1.5!important;
    border-radius: 0px!important;
    color: #8a9297!important;
    border-color: #ffffff!important;
}
.klc-source_pa{
    margin-top: 36px!important;
    position: relative!important;
}
div.dt-buttons {
    position: absolute!important;
    float: right!important;
    margin-top: 38px!important;
}
.klc-content {
   
    position: fixed;
    left: 0;
}
ul.signif {
    margin-bottom: 0px;
}
div#map-container {
    width: 100%;
    left: 0;
}
.btn-info {
    color: #fff!important;
    background-color: #abbabe!important;
    border-color: #ffffff!important;
    padding: .1rem 1.1rem!important;
    border-radius: 0px!important;
}
nav#navbar-main {
    display: none;
}

#footer-biopama {
    position: fixed;
    bottom: 0;
	z-index: 99;
}
div#klc-description {
    margin-bottom: 20px;
}
.klc-chart {
    text-align: center;
}
.navbar {
    z-index: 99;
}
.form-group {
    margin-top: 1rem;
}
#klc-descr{

    margin-left: 15px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 1%), 0 1px 5px 0 rgb(0 0 0 / 8%), 0 3px 1px -2px rgb(0 0 0 / 3%);
    margin-right: 17px;
}
#klc-descr > h3{
    color: #ffffff;
    font-weight: 600;
    padding: 7px;
    background-color: #84959a;
    font-size: 1.3rem;
}
#klc-descr > div{
    background: #abbabf;
    padding: 8px;
    color: #ffffff;
    margin-top: -8px;
}
select {
    width: 100%;
}
.klc-search-icon {
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    /* margin-left: 49px; */
    color: white;
    background: #849499;
    width: 40px;
    float: left;
    /* border-radius: 50%; */
    margin-top: 1rem;
    height: 40px;
}
div#klc-accordion {

    padding: 6px 13px 6px 17px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.klc-filters{
	padding-right: 20px;
}
#areaVal{
    font-size: 2rem;
}
table td a {
    color: #95c356!important;
    text-decoration: none!important;
    font-size: 1.0em;
}
table td a:hover {
    color: #5c960e!important;
    font-weight: 200!important;
    text-decoration: none!important;
    font-size: inherit;
}
#regVal{
    font-size: 2rem;
}
#countryVal{
    font-size: 1.5rem;
}
table td {
    border: 0px!important;
    font-size: 15px;
    font-weight: 300;
    color: #849499;
}
h3.ui-accordion-header {
    font-family: "Maven Pro"!important;
    background-color: #ffffff;
    z-index: 6;
    color: #95c356;
    font-weight: 100;
    border-radius: 0px;
    /* box-shadow: 0 0 5px 2px rgb(108 121 126 / 9%); */
    outline: none;
    font-size: x-large !important;
    margin-top: 5px !important;
    padding: 0px 0.4em !important;
    font-size: 1rem!important;
}
.ui-accordion .ui-accordion-content {
    background: #ffffff;
    border-left: 30px solid #95c356;
}
h3.ui-accordion-header span {
    padding-right: 20px;
    color: #4f751c;
    background-color: #95c356;
    width: 30px;
    height: 30px;
    margin-left: -6px;
    text-align: center;
    padding: 6px 0px;
    margin-right: 15px;
    border-radius: 0px;
    margin-top: 0px;
    text-indent: 0px;
} 
.klc-chart-title{
    font-size: 1rem;
    background: #849499;
    color: white;
    padding: 5px;
    font-weight: 100;
    margin-bottom: unset;
}
.klc-chart {
    height: 300px;
    background: #f2f6f6;
    padding: 10px;
}

.klc-source {
    font-size: 12px;
    color: grey;
    padding-bottom: 15px;
}