html {
    overflow: visible !important;
}
h3.ui-accordion-header-collapsed{
	display: none !important;
}
#klc-accordion{
	height: auto !important;
	overflow: visible !important;
}
@page { size: landscape; }