    {#
    /**
     * @file
     * TFCA Page template
     */
    #}

{% block head %}
{{ attach_library( 'biopama_tfca/biopama_tfca' ) }}
{% endblock %}
<div class="container-fluid p-0 m-0 klc-content">
    <div class="row p-0 m-0">
        <div class="col-lg-4 p-0 m-0">
			<div id="map-container"></div>
		</div>
        <div class="col-lg-8 klc-container m-0">
			<div class='row klc-filters m-0 p-0 d-print-none'>
				<div class='col-sm-1'>
				  <div class="klc-search-icon">
					<i class="fas fa-search"></i>
				  </div>
				</div>
				<div class='col-sm-3'>
				  <div class="form-group">
					<select class="form-control-lg" id="klcRegions">
                        <option value="all" selected>All Regions</option>
                        <option value="central_africa">Central Africa</option><option value="eastern_africa">Eastern Africa</option><option value="southern_africa">Southern Africa</option><option value="western_africa">Western Africa</option>
					</select>
				  </div>
				</div>
				<div class='col-sm-3'>
				  <div class="form-group">
					<select class="form-control-lg" id="klcCountries">
                        <option value="all" selected>All Countries</option>
						<optgroup label="Central Africa">
							 <option value="BDI">Burundi</option><option value="CMR">Cameroon</option><option value="CAF">Central African Republic</option><option value="TCD">Chad</option><option value="COG">Congo (Brazzaville)</option><option value="COD">Congo (Kinshasa)</option><option value="GNQ">Equatorial Guinea</option><option value="GAB">Gabon</option>
						</optgroup>
						<optgroup label="Eastern Africa">
							<option value="ETH">Ethiopia</option><option value="KEN">Kenya</option><option value="RWA">Rwanda</option><option value="SSD">South Sudan</option><option value="SDN">Sudan</option><option value="TZA">Tanzania</option><option value="UGA">Uganda</option>
						</optgroup>
						<optgroup label="Southern Africa">
							<option value="AGO">Angola</option><option value="BWA">Botswana</option><option value="LSO">Lesotho</option><option value="MDG">Madagascar</option><option value="MWI">Malawi</option><option value="MUS">Mauritius</option><option value="MOZ">Mozambique</option><option value="NAM">Namibia</option><option value="SYC">Seychelles</option><option value="ZAF">South Africa</option><option value="ZMB">Zambia</option><option value="ZWE">Zimbabwe</option>
						</optgroup>
						<optgroup label="Western Africa">
							<option value="BEN">Benin</option><option value="BFA">Burkina Faso</option><option value="CPV">Cape Verde</option><option value="CIV">Côte d'Ivoire</option><option value="GMB">Gambia</option><option value="GHA">Ghana</option><option value="GNB">Guinea-Bissau</option><option value="LBR">Liberia</option><option value="MLI">Mali</option><option value="MRT">Mauritania</option><option value="NER">Niger</option><option value="NGA">Nigeria</option><option value="GIN">Republic of Guinea</option><option value="SEN">Senegal</option><option value="SLE">Sierra Leone</option><option value="TGO">Togo</option>
						</optgroup>
					</select>
				  </div>
				</div>
				<div class='col-sm-5'>
				  <div class="form-group">
					<input id="klcSearchTitle" class="form-control form-control-lg" type="text" placeholder="Search KLC Name">
				  </div>
				</div>
			</div>
		  <div id="klc-descr" class="d-print-none">
			<h3>What is a KLC?</h3>
			<div>Key Landscapes for Conservation (KLC) are areas recognised to be of global wildlife importance with intact ecosystems that are capable of sustaining wildlife populations in the face of increasing isolation from other similar areas (Larger Than Elephants - Inputs for EU strategic approach to wildlife conservation in Africa - Regional Analysis, European Commission, 2016).</div>
		  </div>
		  <div id="klc-accordion" class="node-accordion" style="display: none;">
		  </div>
		</div>
    </div>
</div>